/* Home.css */
.home {
    width: 100vw; /* Fill the entire viewport width */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
}


/*picture部分*/

.home_picture {
    position: relative; /* Set to relative so we can absolutely position the WhatDoYouNeed component */
    width: 100%;
    height: 50vh; /* biewport height*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
}

.home_picture .texts {
    position: absolute; /* 绝对定位以便调整位置 */
    top: 45%; /* 上边缘垂直居中 */
    right: 10%; /* 左边距离调整 */
    transform: translateY(-50%); /* 垂直居中 */
    text-align: right;

}

.home_picture .text-line1,
.home_picture .text-line2,
.home_picture .text-line3 {
    margin: 10px 0; /* Add some vertical spacing between lines */
    color: #FF5722;

}
.home_picture .text-line1{
    font-size: 60px;
}
.home_picture .text-line2{
    font-size: 26px;
    font-style: italic;
}
.home_picture .text-line3{
    font-size: 26px;
}


.home_picture .text-line3 {
    cursor: pointer; /* Make it look clickable */
}

.WDYN_home_box {
    z-index: 10;
    position: absolute;
    top: 54vh; /* This will position it right at the bottom of home_picture */
    left: 0; /* Align it to the left */
    width: 100%; /* Make it span the full width */
    padding-left: 10%;
}

/* howitworks部分*/
.HowItWorks_box{
    position: relative;
    align-items: stretch;
}

.home-room-tour {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
}
.room-tour-header {
    padding-right: 40%;

}
.room-tour-title {
    color: #10375c;
    font-size: 30px;
    font-weight: 700;
}
.room-tour-underline {
    background-color: #ff5722;
    border-radius: 50px;
    height: 3px;
    width: 150px; /* 调整宽度 */
}

.display-boxes {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    grid-gap: 50px;
}


