.navbar {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* 使子元素填充整个宽度 */
    position: relative;
    z-index: 2000;
}

.navbar .rectangle4, .navbar .rectangle5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.navbar .rectangle4 {
    background-color: #341D52;
    height: 128px;
}

.navbar .rectangle5 {
    background-color: white;
    height: 15px;
}

.navbar .logo {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: bold;
    padding-left: 30px;
}

.navbar .logo .cabbage {
    color: white;
}

.navbar .logo .apart {
    color: #FF5722;
}

.navbar .links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.navbar .links a {
    margin: 0 40px;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 20px;
    font-weight: bolder;
}

.navbar .links a:hover {
    color: #FF5722;
}

.navbar .links .active {
    color: #FF5722;
    text-decoration: underline;
}

.navbar .user-avatar {
    position: relative; /* 添加这一行 */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white; /* 临时背景颜色，您可以更改或使用图像 */
    margin-left: 20px;
    margin-right: 20px;
    flex-shrink: 0; /* 防止在小屏幕上缩小 */
}


.navbar .user-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.navbar .dropdown-menu {
    position: absolute;
    background-color: white;
    padding: 5px 0;
    border-radius: 5px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.navbar .dropdown-menu {
    position: absolute; /* 修改为绝对定位 */
    top: 100%; /* 定位到 .user-avatar 的正下方 */
    left: 50%; /* 使其水平居中 */
    transform: translateX(-50%); /* 使其水平居中 */
    background-color: white;
    padding: 5px 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.navbar .auth-popup {
    position: fixed;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 1000;
}

.navbar .auth-popup input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.navbar .auth-popup button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #341D52;
    color: white;
    cursor: pointer;
}