.table-container {
    width: 100%;

    border-left: 1px solid #341d52;
}

.customer-details-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 16px;
}

.customer-details-table th, .customer-details-table td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-align: left;
}

.customer-details-table thead th {
    background-color: #341d52;
    color: #fff;
}

.table-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    grid-gap: 10px;
    margin-left: 5px;
}

.update-btn, .upload-btn, .edit-btn {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.update-btn {
    background-color: #341d52;
    color: #fff;
}

.upload-btn {
    background-color: #FF5722;
    color: #000;
}

.edit-btn {
    background-color: #1abcfe;
    color: #fff;
}

.update-btn:hover {
    background-color: #2a0c3e; /* A slightly darker purple */
    transform: scale(1.05); /* Enlarges the button slightly on hover */
}

.upload-btn:hover {
    background-color: #FF5722;
    transform: scale(1.05); /* Enlarges the button slightly on hover */
}

.edit-btn:hover {
    background-color: #159bce; /* A slightly darker blue */
    transform: scale(1.05); /* Enlarges the button slightly on hover */
}